
main {
  display: flex;
  flex-wrap: wrap;
}
#tweet-container {
  width: 100%;
}
article {
  border: 4px black solid;
  margin-top: 1.2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}
article:hover {
  box-shadow: 5px 10px powderblue;
}
article header {
  background-color: #f4f1ec;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
article .tweet-content p {
  text-align: left;
  width: inherit;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  overflow-wrap: break-word;
}
article .handle {
  color: powderblue;
  font-weight: bold;
}

article footer {
  display: flex;
  justify-content: space-between;
  margin: 12px;
  padding: 16px;
  border-top: inherit;
}
article .icons {
  display: flex;
  color: #4056A1;
}
article .flag:hover, .retweet:hover, .like:hover {
  color: gold;
}

article .flag {
  padding-right: 6px;
}
article .retweet {
  padding-left: 6px;
  padding-right: 6px;
}
article .like {
  padding-left: 6px;
}
article .date {
  font-size: 0.6em;
}
